{{>header}}
{{>nav-grey}}
{{>nav-blue}}
<div class="faq-page static-page">
	<div class="container" id="main">
		<div class="row">
			<div class="col-sm-4">
				<h1 class="fourofour">404</h1>
				<p class="lead">{{err}}</p>
				<p><button class="btn btn-info">zur Startseite</button></p>
			</div>
		</div>
	</div>
</div>
{{>footer}}