{{>header}}
{{>nav-grey}}

<div class="abspann-page">

  <div class="container" id="main">

    
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4 text-center">
      <img class="img-responsive zdf-logo-lobbyradar" src="/assets/images/zdf-lobbyradar-logo-gfx.svg" onerror="this.src='/assets/images/zdf-lobbyradar-logo-gfx.png';this.onerror=null;" alt="ZDF" width="500" height="auto">
      <a href="/">Zurück zur Startseite</a>
<br/><br/>
        <p>Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor.</p>
        <p>Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor.</p>
        <p>Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor.</p>

      </div>
    </div>

  </div>

</div> {{! end .fullscreen }}
{{>footer}}