{{>header}}
{{>nav-grey}}
{{>nav-blue}}
<div class="abspann-page static-page">
  <div class="container" id="main">

    <div class="row">
      <div class="col-sm-4 col-sm-offset-4 text-center">
       <br/>
        <p>Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor.</p>
        <p>Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor.</p>
        <p>Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor.</p>
      </div>
    </div>

  </div>
</div> {{! end .fullscreen }}

{{>footer}}