{{>header}}
{{>nav-grey}}
{{>nav-blue}}

<div class="abspann-page static-page grey-page">
  <div class="container" id="main">

    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">

        <p class="first-p">
          Eine Kooperation zwischen ZDF und Medieninnovationszentrum Babelsberg (MIZ)
        </p>

        <p>Projektleitung: <br />
Hubert Krech (<a href="http://www.zdf.de/" target="_blank" title="Zu zdf.de">ZDF</a>); Tanja Peuker (<a href="http://www.miz-babelsberg.de/" target="_blank" title="Zu miz-babelsberg.de">MIZ</a>)<br />
<br />
Recherche und Redaktion: <br />
Michael Hartlep, Jan Schneider, Dominik Wurnig (<a href="http://www.miz-babelsberg.de/" target="_blank" title="Zu miz-babelsberg.de">MIZ</a>); Julia Kiehne (<a href="http://www.zdf.de/" target="_blank" title="Zu zdf.de">ZDF</a>)<br />
<br />
Idee und Konzept: <br />
Frederic Huwendiek, Hubert Krech (<a href="http://www.zdf.de/" target="_blank" title="Zu zdf.de">ZDF</a>); Michael Hartlep, Jan Schneider, Dominik Wurnig (<a href="http://www.miz-babelsberg.de/" target="_blank" title="Zu miz-babelsberg.de">MIZ</a>); Marco Maas (<a href="https://opendatacity.de/" target="_blank" title="Zu opendatacity.de">OpenDataCity</a>)<br />
<br />
Design: <br />
Michaela Waldow (<a href="http://www.zdf.de/" target="_blank" title="Zu zdf.de">ZDF</a>) und Felix Feierabend (<a href="http://www.dreimorgen.com/" target="_blank" title="Zu dreimorgen.com">Dreimorgen</a>, Frankfurt)<br />
<br />
Datenbank und Visualisierung: <br />
<a href="https://opendatacity.de/" target="_blank" title="Zu opendatacity.de">OpenDataCity</a><br />
<br />
Plug-In-Programmierung: <br />
<a href="http://www.wegewerk.com/" target="_blank" title="Zu wegewerk.com">Wegewerk</a><br />
<br />
Umsetzung: <br />
Felix Feierabend (<a href="http://www.dreimorgen.com/" target="_blank" title="Zu dreimorgen.com">Dreimorgen</a>, Frankfurt)<br />
<br />
Technische Betreuung: <br />
Jens Moeke, Rolf Zimmermann (<a href="http://www.zdf.de/" target="_blank" title="Zu zdf.de">ZDF</a>)<br />
<br />
Produktion:<br />
Alexandra Zurwonne (<a href="http://www.zdf.de/" target="_blank" title="Zu zdf.de">ZDF</a>)<br />
Mit Dank an Alexander Barnickel, Jonas Bergmeier (<a href="http://cahoots.pw/" target="_blank" title="Zu cahoots.pw">Projekt Cahoots</a>) und <a href="http://www.tigerbytes.de/" target="_blank" title="Zu tigerbytes.de">Tigerbytes</a>a><br />
<br />
Animation / Design Erklärfilm:<br />
Lars Werner (<a href="http://wernersolutions.de>" title="zu wernersolutions.de">wernersolutions.de</a>)<br />
<br />
Musik / Sounddesign Erklärfilm:<br />
Stefan Gerber (<a href="http://epicminor.de" title="zu epicminor.de">epicminor.de</a>)
<br /><br /><br />
<a href="https://www.facebook.com/zdflobbyradar" alt="Impressum ZDF">ZDFLobbyradar (Facebook)</a><br />
<a href="https://twitter.com/zdflobbyradar" alt="Impressum ZDF">@ZDFLobbyradar (Twitter)</a><br /><br />
<a href="http://www.zdf.de/impressum-21494968.html" alt="Impressum ZDF">Impressum</a><br />
<a href="mailto:lobbyradar@zdf.de?subject=Kontakt" alt="Kontakt ZDF">Kontakt</a>

</p>

      </div>
    </div>

  </div>
</div> {{! end .fullscreen }}

{{>footer}}