{{>header}}
{{>nav-grey}}
{{>nav-blue}}
<div class="static-page">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h1>Beiträge zum Lobbyradar</h1>
				<p class="intro-copy">
					ZDF-Lobbyradar bringt Transparenz in das Netzwerk der Macht. Sehen Sie hier alle Beiträge zum Lobbyradar!
				</p>
			</div>
			<div class="col-sm-8">
				<div class="articles">
				</div>
			</div>		
		</div>
	</div>
</div>
<script type="text/javascript" src="/assets/js/articles.js"></script>

{{>footer}}
