{{>header}}
{{>nav-grey}}
{{>nav-blue}}
<div class="static-page">
<div class="container">
  
  <div class="row">
    <div class="col-sm-6">
      <br/><br/>
<h1>Die ZDFLobbyradar Browsererweiterung</h1>
      <p>Mit der Browser-Erweiterung bekommen Sie die Informationen von Lobbyradar genau dort, wo Sie im Netz unterwegs sind. Einmal installiert, markiert Lobbyradar alle Personen und Organisationen, die in der Lobby-Datenbank hinterlegt sind. Wenn Sie mit der Maus über den Namen fahren, zeigt Lobbyradar die wichtigsten Infos aus unserer Datenbank. So wird so manche Nachricht und Geschichte in einen völlig neuen Kontext gesetzt. Kostenlos, transparent und ohne, dass Ihre Daten gespeichert werden.</p>
<br/>
    </div>
    
    <div class="col-sm-6">
          <br/><br/>

            <img src="/assets/images/firefox_256x256.png" width="64" height="auto" alt="..." class="browser-logo" style="float:left;">
            <h4 class="list-group-item-heading">Firefox</h4>
            <p class="list-group-item-text">    
            <button class="hidden-xs btn-ext btn btn-info">
        Für Firefox installieren!
      </button></p>
            <br style="clear:both"/>
         
            <img src="/assets/images/chrome_256x256.png" width="64" height="auto" alt="..." class="browser-logo" style="float:left;">
            <h4 class="list-group-item-heading">Chrome</h4>
            <p class="list-group-item-text">    
            <button class="hidden-xs btn-ext btn btn-info">
        Für Chrome installieren!
      </button></p>
            <br style="clear:both"/>

            <img src="/assets/images/safari_256x256.png" width="64" height="auto" alt="..." class="browser-logo" style="float:left;">
            <h4 class="list-group-item-heading">Safari</h4>
            <p class="list-group-item-text">    
            <button class="hidden-xs btn-ext btn btn-info">
        Für Safari installieren!
      </button></p>
            <br style="clear:both"/>

    </div>
  </div>

</div></div>
{{>footer}}
