{{>header}}
{{>nav-grey}}

<div class="faq-page">

	<div class="container" id="main">
		<div class="row">
	    <div class="col-sm-4 col-sm-offset-4 text-center">
      <img class="img-responsive zdf-logo-lobbyradar" src="/assets/images/zdf-lobbyradar-logo-gfx.svg" onerror="this.src='/assets/images/zdf-lobbyradar-logo-gfx.png';this.onerror=null;" alt="ZDF" width="500" height="auto">
      <a href="/">Zurück zur Startseite</a>
<br/><br/></div>
		</div>
		
		<div class="row">
			<div class="col-sm-6">
				
				<h1>Donec ullamcorper nulla non metus auctor fringilla.</h1>
				<p>Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor.</p>
				<p>Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor.</p>
				<p>Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor.</p>

			</div>

			<div class="col-sm-6">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true">
									Collapsible Group Item #1
								</a>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia 	aute, 			non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon 	tempor, sunt aliqua 			put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim 	keffiyeh helvetica, craft beer labore 			wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur 	butcher vice lomo. Leggings occaecat craft beer <farm-to->			</farm-to->table, raw denim aesthetic synth nesciunt 	you probably haven't heard of them accusamus labore sustainable VHS.
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingTwo">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false">
									Collapsible Group Item #2
								</a>
							</h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body">
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia 	aute, 			non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon 	tempor, sunt aliqua 			put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim 	keffiyeh helvetica, craft beer labore 			wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur 	butcher vice lomo. Leggings occaecat craft beer <farm-to->			</farm-to->table, raw denim aesthetic synth nesciunt 	you probably haven't heard of them accusamus labore sustainable VHS.
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingThree">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false">
									Collapsible Group Item #3
								</a>
							</h4>
						</div>
						<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
							<div class="panel-body">
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia 	aute, 			non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon 	tempor, sunt aliqua 			put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim 	keffiyeh helvetica, craft beer labore 			wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur 	butcher vice lomo. Leggings occaecat craft beer <farm-to->			</farm-to->table, raw denim aesthetic synth nesciunt 	you probably haven't heard of them accusamus labore sustainable VHS.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div> {{! end .fullscreen }}
{{>footer}}