{{>header}}
{{>nav-grey}}
{{>nav-blue}}
<div class="faq-page static-page">

	<div class="container" id="main">

		
		<div class="row">
			<div class="col-sm-6">
				
				<h1>Donec ullamcorper nulla non metus auctor fringilla.</h1>
				<p>Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor.</p>
				<p>Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor.</p>
				<p>Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor.</p>

			</div>

			<div class="col-sm-6">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true">
									Wer steht hinter Lobbyradar?
								</a>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								Lobbyradar ist ein gemeinsames Projekt von ZDF heute.de, dem Medieninnovationszentrum Babelsberg MIZ und OpenDataCity.
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingTwo">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false">
									Was soll Lobbyradar?
								</a>
							</h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body">
								Unternehmen, Verbände und Vereine haben Interessen, die sie durchsetzen wollen. Deshalb stehen Sie in stetigem Austausch untereinander und mit der Politik um ihre Interessen zu vertreten. Damit sind sie ein Teil des politischen Systems. Schwierig wird es aber, wenn Lobbygruppen mit mehr Geld oder besseren Kontakten mehr Einfluss haben als Lobbys mit wenigen Mitarbeitern und finanziellen Möglichkeiten. Und wenn niemand außerhalb etwas davon mitbekommt. Dann besteht die Gefahr, dass Politiker nicht im Sinne der Allgemeinheit entscheiden, sondern sich die Interessen Einzelner durchsetzen. Der ZDF Lobbyradar zeigt  Verbindungen zwischen Politik, Wirtschaft und Interessenvertretern und macht Lobbyismus transparenter.
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingThree">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false">
									Was ist die Lobbyradar-Browser-Erweiterung?
								</a>
							</h4>
						</div>
						<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
							<div class="panel-body">
								Lobbyradar gibt es als Website und als Browser-Erweiterung für Firefox, Crome und Safari. Einmal installiert markiert Lobbyradar die Namen und Organisationen, die in unserer Datenbank hinterlegt sind. Fährt man dann mit der Maus über die Markierung, lädt Lobbyradar die wichtigsten Infos aus unserer Datenbank und zeigt sie an. So werden Nachrichten und Geschichten in einen neuen Kontext gesetzt und Sie erhalten nützliche Zusatzinformationen. Kostenlos und transparent.
							</div>
						</div>
					</div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false">
                  Was sagt Lobbyradar aus?
                </a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                Unsere Datenbank enthält die Akteure, die für den Lobbyismus in Deutschland eine Rolle spielen. Dazu gehören Personen, Firmen, Parteien, Verbände und NGOs, politische Institutionen, Think-Tanks, Stiftungen und PR-Agenturen. Lobbyradar zeigt, wie sie miteinander in Verbindung stehen. Eine Verbindung kann eine Parteispende sein, eine Mitgliedschaft oder ein Arbeitsverhältnis. Nicht in jedem Fall treffen wir eine Aussage darüber, wann eine Verbindung bestand. Schließlich können auch frühere Arbeitsverhältnisse oder Mitgliedschaften Entscheidungen von Politikern beeinflussen. Alle Verbindungen werden in der Netzwerkgrafik mit einer Linie angezeigt. Die Länge der Linie hat dabei keine Bedeutung. Freundschaften oder Verwandtschaftsverhältnisse haben wir nicht erfasst.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFive">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false">
                  Was heißt es, wenn eine Person oder eine Verbindung nicht in der Datenbank steht?
                </a>
              </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                Wir versuchen, alle relevanten Lobby-Akteure und deren Verbindungen abzubilden. Es gibt aber Personen und Organisationen, die nicht in unseren Datensätzen und auch nicht in den Medien auftauchen. Deshalb sind sie in unserer Datenbank nicht zu finden - selbst, wenn sie Verbindungen zu Lobbyverbänden haben. Sie fliegen (noch) unter dem Lobbyradar-Schirm. Wir wollen das ändern und Sie können uns dabei helfen. Wenn Sie Lobbyismus transparenter machen und Akteure und Verbindungen ergänzen wollen, einfach hier klicken!
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false">
                  Woher kommen die Informationen?
                </a>
              </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                Alle Informationen stammen aus öffentlich zugänglichen Datenbanken und Dokumenten: Der Verbändeliste und der Parteispendenliste des Deutschen Bundestages, der von Abgeordneten veröffentlichten Nebeneinkünfte, der Seitenwechsler-Datenbank von LobbyControl und der Think-Tank-Network-Initiative. Zusätzlich haben wir selbst recherchiert und Verbindungen und Akteure eingetragen. Aktuell umfasst die Datenbank knapp 20.000 Personen, 6.000 Organisationen und 30.000 Verbindungen. Die Datenbank wird ständig aktualisiert.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingSeven">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false">
                  Wie kann ich Verbindungen korrigieren oder ergänzen?
                </a>
              </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                Lobbyradar soll aktuell bleiben und wachsen. Dach dazu brauchen wir Hilfe! Haben wir eine Person oder Institution vergessen, die unbedingt in die Datenbank gehört? Oder fehlt eine Verbindung einer Person? Dann können Sie uns das über den Button “Verbindung melden” mitteilen. Auch falsche Verbindungen können über den Button “Fehler melden” an uns gemeldet werden. Wir prüfen alle Infos und ergänzen öder ändern sie in der Datenbank.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingEight">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false">
                  Funktioniert LobbyRadar auch auf meinem Smartphone oder Tablet?
                </a>
              </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                Das Lobbyradar-Netzwerk funktiniert auch auf Smartphones und Tablets. Für die Browser-Erweiterung haben wir bisher leider keine mobile Lösung. Hinweise, Tipps oder Anregungen nehmen wir aber gerne an - <a href="#">hier klicken!</a>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingNine">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false">
                  Welche Daten speichern wir über Dich?
                </a>
              </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                Privatsphäre ist wichtig. Lobbyradar analysiert deshalb Texte nur auf Ihrem Rechner und nicht auf unserem Server. Sobald Lobbyradar einen Namen oder eine Institution findet, werden die relevanten Verbindungen und Informationen von unserem Server abgerufen. Ein Rückschluss auf Ihr Surfverhalten und der Kontext der Information bleiben uns dabei verborgen.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingEleven">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false">
                  Unter welcher Lizenz erscheint Lobbyradar?
                </a>
              </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                Weil wir selbst transparent sein wollen, ist Lobbyradar Open Source und kann von jedem unter dieser Lizenz eingesehen und weiterentwickelt werden. Der Quellcode ist auf Github zu finden.
              </div>
            </div>
          </div>
				</div>
			</div>
		</div>

	</div>

</div> {{! end .fullscreen }}
{{>footer}}