<script type="text/javascript" src="https://script.ioam.de/iam.js" language="JavaScript"></script>
<script type="text/javascript"> 
  var iam_data = { 
        "st":"heute",
        "cp":"ZH/heutede", 
        "co":"Modul/lobbyradar/A032361", 
        "sv":"ke" 
   };
   iom.c(iam_data,1); 
</script>
</body>
</html>
