<script type="text/javascript" src="https://script.ioam.de/iam.js"></script>
<script type="text/javascript"> 
	if (iom) iom.c({ 
		"st":"heute",
		"cp":"ZH/heutede", 
		"co":"Modul/lobbyradar/A032361", 
		"sv":"ke" 
	},1); 
</script>
</body>
</html>
