<!DOCTYPE html>
<html lang="de">
<head>
	<title>Lobbyradar</title>
	<meta charset="utf-8"/>

	<!-- css -->
	<link rel="stylesheet" type="text/css" href="/assets/bower_components/fontawesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/leaflet.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/lobbyradar.css">
	<link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico">

	<script type="text/javascript" src="/assets/bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/assets/bower_components/moment/min/moment-with-locales.min.js"></script>
	<script type="text/javascript" src="/assets/js/main.js"></script>
	<!-- viewport -->
	<meta name="viewport" content="width=device-width">
	<!--[if lt IE 9]>
	<script src="/assets/bower_components/html5shiv/dist/html5shiv.min.js" type="text/javascript"></script>
	<![endif]-->

	{{! Opem Graph Snippets }}
	<meta property="og:title" content="ZDFLobbyradar">
	<meta property="og:site_name" content="ZDFLobbyradar">
	<meta property="og:url" content="https://www.lobbyradar.de/">
	<meta property="og:description" content="Wie arbeiten Lobbyisten? Welche Auswirkungen hat ihre Arbeit? Und wie wirkt sich Lobbyismus auf unsere Demokratie aus? Der Lobbyradar ist ein multimediales datenjournalistisches Onlineprojekt.">
	<meta property="og:type" content="website">
	<meta property="og:image" content="https://www.lobbyradar.de/assets/images/logo-share.png"/>

	{{! Twitter Cards }}
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@ZDFLobbyradar">
	<meta name="twitter:title" content="ZDFLobbyradar">
	<meta name="twitter:description" content="Wie arbeiten Lobbyisten? Welche Auswirkungen hat ihre Arbeit? Und wie wirkt sich 	Lobbyismus auf unsere Demokratie aus? Der Lobbyradar ist ein multimediales datenjournalistisches Onlineprojekt.">
	<meta name="twitter:image:src" content="https://www.lobbyradar.de/assets/images/logo-share.png">

</head>
<body>