<!DOCTYPE html>
<html lang="de">
<head>
	<title>Lobbyradar</title>
	<meta charset="utf-8"/>

	<!-- fonts -->
	<link href="/assets/fonts/roboto-slab/roboto-slab.css" rel="stylesheet" type="text/css">
	
	<!-- css -->
	<link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
	
	<link href="/assets/css/font-awesome.css" rel="stylesheet" type="text/css">
	<!-- <link href="/assets/css/lobbyradar.css" rel="stylesheet" type="text/css"> -->
	
	<!-- js -->
	<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/js/d3.min.js"></script>
	<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/assets/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/assets/js/lobbyradar.js"></script>
	<script type="text/javascript" src="/assets/js/networkviz.js"></script>
	<script type="text/javascript" src="/assets/js/networkdata.js"></script>

	<!-- viewport -->
	<meta name="viewport" content="width=device-width">
	<!--[if lt IE 9]><script src="/assets/js/html5shiv.min.js" type="text/javascript"></script><![endif]-->

</head>
<body>