<!DOCTYPE html>
<html lang="de">
<head>
	<title>Lobbyradar</title>
	<meta charset="utf-8"/>

	<!-- css -->
	<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/lobbyradar.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/leaflet.css">

	<!-- js -->
	<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/js/d3.min.js"></script>
	<script type="text/javascript" src="/assets/js/share.min.js"></script>

	<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/assets/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/assets/js/lobbyradar.js"></script>

	<script type="text/javascript" src="/assets/js/moment-with-locales.min.js"></script>
	<script type="text/javascript" src="http://lobbyradar.opendatacloud.de/lobbynetwork/test/node_positions.js"></script>

	<!-- viewport -->
	<meta name="viewport" content="width=device-width">
	<!--[if lt IE 9]><script src="/assets/js/html5shiv.min.js" type="text/javascript"></script><![endif]-->

</head>
<body>