{{>header}}
{{>nav-grey}}
{{>nav-blue}}


<div class="static-page home-page">
  <div class="container" id="main">
    
    <div class="row intro">
      
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div id="video" class="nav-circle big">

        <div  class="nav-circle small">
          <i class="fa fa-video-camera"></i>

        </div>
          <h2>Worum geht es <br/>beim Lobbyradar?</h2>
          <p>
Wie funktioniert der Lobbyradar? Was kann der User selbst machen? Hier sind alle Infos!
          </p>
           <a class="circle-link" href="/um-was-geht-es">Jetzt erfahren!<div class="triangle"></div><div class="triangle2"></div></a>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div id="extension" class="hidden-xs hidden-sm nav-circle big">

        <div class="nav-circle small">
        <i class="fa fa-download"></i>
        </div>
          <h2>Die Lobbyradar-<br/>Browser-Erweiterung</h2>
          <p>Wir zeigen Ihnen die Verbindungen dort, wo Sie gerade surfen: Installieren Sie die Add-Ons! </p>
                 <a class="circle-link" href="/download-plugin">Jetzt Installieren<div class="triangle"></div><div class="triangle2"></div></a>

        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div id="news" class="nav-circle big">

        <div class="nav-circle small">
        <i class="fa fa-newspaper-o"></i>
        </div>
        <h2>Alle Beiträge zum<br/>Lobbyradar</h2>
        <p>Artikel und Videos zum <br/>Lobbyradar bei ZDFheute.de<br/><br/>
</p>
                 <a href="/artikel" class="circle-link" target="_blank">Zu den Artikeln<div class="triangle"></div><div class="triangle2"></div></a>

        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div id="app" class="nav-circle big">
                                <div class="nav-circle small">
        <i class="fa fa-sitemap"></i>
        </div>
          <h2>Wer mit wem? <br/><br/></h2>
          <p>Wo treffen die Lobbyisten auf die Entscheider? Suchen Sie selbst nach Verbindungen!</p>
                   <a class="circle-link" href="/verbindungssuche">  
                   Visualisierung öffnen <div class="triangle"></div><div class="triangle2"></div></a>

        </div>
      </div>


    </div></div>

  </div>


<script type="text/javascript" src="/assets/js/leaflet.js"></script>
<script type="text/javascript" src="http://lobbyradar.opendatacloud.de/lobbynetwork/graph.js"></script>
<script type="text/javascript" src="/assets/js/networkviz.js"></script>
{{>footer}}
