<div class="container">
  
  <div class="row">
    <div class="col-sm-6 col-sm-offset-6">
      <h2><br/><br/></h2>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-6">
      <h1>Wer macht was, und vor allem wann und mit wem?</h1>
      <p class="lead"> 
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Lorem ipsum dolor sit amet, consectetadipiscing elit. Maecenas faucibus mollis interdum.
      </p>
      <p>
        Curabitur blandit tempus porttitor. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sdiam eget risus varius blandit sit amet non magna. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatvestibulum.
      </p>
    </div>
    
    <div class="col-sm-6">
      <div class="videoWrapper">
        <iframe width="560" height="315" src="//www.youtube.com/embed/tA-E_38oWLI" frameborder="0" allowfullscreen></iframe>
      </div>
      <button class="btn-ext btn-block btn btn-lg btn-primary" data-toggle="modal" data-target="#myModal">
        Installier dir den Durchblick!
      </button>
    </div>
  </div>

</div>
