<div class="zdf-header-blue navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<i class="fa fa-bars"></i>
			</button>
			<a class="navbar-brand logo-name" href="/">
				<img class="zdf-logo-lobbyradar img-responsive" src="/assets/images/zdf-lobbyradar-logo.svg" onerror="this.src='/assets/images/zdf-lobbyradar-logo.png';this.onerror=null;" alt="ZDF">
			</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<div class="collapsed-circle-nav">
					<a href="/verbindungssuche">
						<div class="nav-circle small"><i class="fa fa-sitemap"></i></div>
						<span>Wer mit wem? </span>
					</a>
					<a href="/artikel">
						<div class="nav-circle small newspaper"><i class="fa fa-newspaper-o"></i></div>
						<span>Alle Beiträge zum Lobbyradar</span>
					</a>
					<a class=" hidden-xs hidden-sm " href="/download-plugin">
						<div class="nav-circle small"><i class="fa fa-download"></i></div>
						<span>Die Lobbyradar-Browser-Erweiterung</span>
					</a>
					<a href="/um-was-geht-es">
						<div class="nav-circle small"><i class="fa fa-video-camera"></i></div>
						<span>Worum geht es beim Lobbyradar?</span>
					</a>
				</div>
				<div class="visible-xs-block second-nav">
					<li><a href="/oft-gestellte-fragen">FAQ & Hilfe</a></li>
					<li><a href="/abspann">Abspann</a></li>
					<li class="social-links">
						<div>
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-google-plus"></i></a>
							<a href="#"><i class="fa fa-envelope"></i></a>
						</div>
					</li>
				</div>
			</ul>
		</div>
	</div>
</div>