<nav class="zdf-header-grey navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="http://www.heute.de/">
				<img class="zdf-logo img-responsive" src="/assets/images/zdf-heute.png" alt="ZDF">
			</a>
			<img class="visible-xs-block miz-logo" src="/assets/images/logo-miz.png" alt="MIZ" width="auto" height="60">
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav hidden-xs">
				<li>
					<a class="miz-logo" href="/">
						<img class="hidden-xs" src="/assets/images/logo-miz.png" alt="MIZ" width="auto" height="60">
					</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right hidden-xs">
				<li>
					<a href="/oft-gestellte-fragen">FAQ & Hilfe</a>
				</li>
				<li>
					<a href="/abspann">Abspann</a>
				</li>
				<li class="social-links">
					<a href="javascript:fbShare('https://www.lobbyradar.de', 'ZDFLobbyradar', 'Wie arbeiten Lobbyisten? Welche Auswirkungen hat ihre Arbeit? Und wie wirkt sich 	Lobbyismus auf unsere Demokratie aus? Der Lobbyradar ist ein multimediales datenjournalistisches Onlineprojekt.','https://www.lobbyradar.de/assets/images/logo-share.png', 520, 350)"><i class="fa fa-facebook"></i></a>
					<a class="tweet" href="#"><i class="fa fa-twitter"></i></a>
					<a href="https://plus.google.com/share?url=https://www.lobbyradar.de" onclick="javascript:window.open('https://plus.google.com/share?url=https://www.lobbyradar.de','', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600'); return false;"><i class="fa fa-google-plus"></i></a>
					<a href="mailto:?subject=Wie sind Politik und Wirtschaft verknüpft? ZDFLobbyradar&body=https://www.lobbyradar.de"><i class="fa fa-envelope"></i></a>
				</li>
			</ul>
		</div>
	</div>
</nav>