<div class="zdf-header-blue">
	<div class="container">
		<div class="row">
			<div class="col-sm-3 col-xs-12 hidden-xs">
				<a class="logo-name" href="/">    
					<img class="zdf-logo-lobbyradar" src="/assets/images/zdf-lobbyradar-logo.svg" onerror="this.src='/assets/images/zdf-lobbyradar-logo.png';this.onerror=null;" alt="ZDF" width="240" height="auto">
				</a>
			</div>
			<div class="col-sm-2 hidden-xs">
				<img class="miz-logo" src="/assets/images/logo-miz.png" alt="MIZ" width="auto" height="60">
			</div>
			<div class="col-sm-6 col-sm-offset-1 col-xs-12">
				<form class="search-form" role="form">
					<div class="input-group">
						<input type="text" placeholder="Suchen Sie nach Politikern, Firmen und Journalisten" class="lobbysearch form-control">
						<span class="input-group-btn">
							<button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>