<nav class="zdf-header-grey navbar navbar-default">

	<div class="container">

		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">

			<a class="navbar-brand" href="#">				
				<img class="zdf-logo img-responsive" src="/assets/images/ZDF-logo-45x26.svg" onerror="this.src='/assets/images/ZDF-logo-45x26.png';this.onerror=null;" alt="ZDF" >
			</a>

			<img class="visible-xs-block miz-logo" src="/assets/images/logo-miz.png" alt="MIZ" width="auto" height="60">

		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div>

			<ul class="nav navbar-nav hidden-xs">
				<li><a href="http://www.heute.de/" target="_blank">ZDFheute</a></li>
			</ul>

			<ul class="nav navbar-nav navbar-right hidden-xs">

				<li><a href="/faq">FAQ & Hilfe</a></li>
				<li><a href="/about">Über das Projekt</a></li>
				<li><a href="/abspann">Abspann</a></li>

				<li class="social-links">
					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-google-plus"></i></a>
					<a href="#"><i class="fa fa-envelope"></i></a>
				</li>

			</ul>

		</div><!-- /.navbar-collapse -->

	</div><!-- /.container -->

</nav>