<div class="zdf-header-grey">
      <div class="container">
      <div class="col-md-3">
        <img class="zdf-logo" src="assets/images/ZDF-logo-45x26.svg" onerror="this.src='assets/images/ZDF-logo-45x26.png';this.onerror=null;" alt="ZDF" width="45" height="26">
      </div>
      </div>
    </div>
      <div class="zdf-header-blue">
        <div class="container">
          <div class="col-md-3">

            <a class="navbar-brand" href="#">    
              <span class="fa-stack fa-lg">
                <i class="fa fa-bullseye fa-5x"></i>
                <i class="fa fa-suitcase fa-stack-1x symbol"></i>
              </span>             
              <div class="logo-name">
                Lobby<strong>radar</strong>
              </div>
            </a>

          </div>
          <div class="col-md-3 hidden-sm hidden-xs col-md-push-6">
            
             <button class="btn-ext btn btn-lg btn-primary" data-toggle="modal" data-target="#myModal">Installier dir den Durchblick!</button>
          </div><!--/.navbar-collapse -->
        </div>
</div>