{{>header}}
{{>nav-grey}}
{{>nav-blue}}

<div class="fullscreen">

	{{! The Visualisation }}
	<div style="display:block; height: 100%; margin-top: 130px;" id="rel_viz">
		<!--<div id="rel_viz"></div>-->
	</div>

</div> {{! end .fullscreen }}

<script type="text/javascript" src="/assets/js/d3.min.js"></script>
<script type="text/javascript" src="/assets/js/relationviz.js"></script>

{{>footer}}
