<div class="table-responsive result-list">
	<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<p class="lead">Ergebnisse für »<span class="result-name"></span>«.</p>
	<div class="results">
		<ul class="list-group"></ul>
	</div>
</div>
<div class="result-single">
	<a id="backtolist" class="btn btn-default" href="/"><i class="fa fa-arrow-left" aria-hidden="true"></i> Zurück</a>
	<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<div class="content"></div>
</div>