<div class="table-responsive result-list">
  <p>Ergebnisse für »<span class="result-name"></span>«. Klicken Sie auf einen Eintrag, um zu den Details zu gelangen.</p>
    <div class="results">
    <ul class="list-group">
    
     
      
    </ul>
  </div>
</div>
     
<div class="result-single">
  <a id="backtolist" class="btn btn-default" href="/"><i class="fa fa-arrow-left" aria-hidden="true"></i> Zurück zur Liste</a>

  <div class="content"></div>
</div>