#!/usr/bin/env node
module.exports = {
	api: {
		keys: {
//			"apikey": "Username"
		}
	},
	listen: {
		socket: "lobbyradar.sock",
		// host: "localhost",
		// port: 9000
	},
	db: "mongodb://127.0.0.1/lobbyradar",
	nsa: null, // "udp4://server:port/"
};