/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {  }




.fullscreen {

  margin-top:0px;
  margin-bottom:-20px;
  position: fixed;
  overflow: scroll;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: #11354b; /* Old browsers */
  background: -moz-linear-gradient(top,  #11354b 0%, #a1bdc9 65%, #a1bdc9 77%, #6392a8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#11354b), color-stop(65%,#a1bdc9), color-stop(77%,#a1bdc9), color-stop(100%,#6392a8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #11354b 0%,#a1bdc9 65%,#a1bdc9 77%,#6392a8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #11354b 0%,#a1bdc9 65%,#a1bdc9 77%,#6392a8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #11354b 0%,#a1bdc9 65%,#a1bdc9 77%,#6392a8 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #11354b 0%,#a1bdc9 65%,#a1bdc9 77%,#6392a8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11354b', endColorstr='#6392a8',GradientType=0 ); /* IE6-9 */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  // background: url(../images/earth.png) no-repeat center center fixed; 
}
#networkviz-wrapper {
  position: fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
}

#networkviz {
  svg {
    position: relative!important;
  }
}

circle.node {
  cursor: pointer;
  stroke: #000;
  stroke-width: .5px;
}

line.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

.radarbox {
  position: relative;
  z-index: 1!important;
  margin-top:170px;
  padding:0px 19px;
  min-height:0px;
  border:0px;
  margin-right: 42px;
}

.hamburger {
  margin:3px 13px 0px 10px;
  i {font-size: 1.7rem;}
}

.search-header {
  background:@zdf-blue;
    background:transparent!important;
  display:none;
  margin:-20px;
  padding:0px;
  box-shadow: 0px 0px 15px @zdf-blue;    
  z-index: 9999!important;
  position: relative;
  input {
    padding:15px;
  }
}



.overlay {
  background:rgba(12,12,12,0.6);
  width:100%;
  height:100%;
  position: fixed;
  top: 0px;
  overflow: scroll;
  left:0px;
  z-index:999;
  color:white!important;
  .container { margin-top:70px; }
}

@media (min-width: @screen-md-min) {
  .overlay .container { margin-top:150px; }
}

.zdf-header-grey {
  width: 100%;
  background: url(../images/zdf-header-grey.png) repeat-x 0 0 transparent;
  height: 46px;
  top:0px;
  position: absolute;
  min-width: 0px;
  z-index:999;

  .zdf-logo {
    margin-top:7px;
    max-width:45px;
    max-height:26px;
  }
  .mini-nav {
        margin-top:12px;
  text-align:right;
  }
  a {
    color:white;
  }
}


.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.zdf-header-blue .search-form  {
  margin-bottom:20px;
  .form-control {
    height:42px;
  }
  input {
    padding-top:5px;
  }
  .input-group-btn button{
    height:42px;
  }
}

@media (min-width: @screen-sm-min) { 
  .zdf-header-blue .search-form  {margin-top:19px;}
}

.zdf-header-blue {
  top:46px;
  position: absolute;
    z-index:999;
    width:100%;
    overflow:hidden;
    background: rgba(20,59,82,0.5);
  border-bottom: 1px solid rgba(20,59,82,1);
  
  .navbar-brand {
    padding:30px 0px;
    color:white;
    font-size:32px;
    font-family: "Arial";

    .logo-name {
      float: left;
      // margin: -80px 0px 0px 40px;
      // margin: -80px 0px 0px 40px; // only needed with fa-stack)
    }
  .fa-stack {display:none;}
    .fa-bullseye {
      color:rgba(255,255,255,0.3);
      position: relative;
      margin: -91px 0px 0px -79px;
      float:left;

    }
    .symbol {
      color:rgba(255,255,255,1);
      position: absolute;
      margin: -30px;
      float:left;
    }
  }
}



@media (max-width: 767px) {
    .zdf-header-blue,
    .zdf-header-grey {
        position: relative!important;
        top: auto;
    }
}


.jumbotron {
    position: relative;
    z-index: 9999!important;
    margin-bottom:-20px;
    display: none;
}

#map {
  width:750px;
  height:750px;
  position: fixed!important;
  top: 0;
  left: 0;
  display:none;
  opacity:0;
}

svg {
  
  position: fixed!important;
  top: 0;
  left: 0;
 }

.viewport-visual {
  min-height:250px;
  border:1px solid red;
  margin-top:190px;

  span {
    font-size:70%;
    font-family:monospace;
    color:red;
    margin-left:-10px;
  }
}
@media (min-width: @screen-sm-min) {
  .viewport-info { margin-top:170px; }
}
@media (min-width: @screen-md-min) {

.result-list {margin-right:40px; }
}
.btn-ext {
  margin-top:17px;
}

.result-list {
  position: relative;
  display:none;
  padding:19px;
  z-index: 99!important;
  background:white;


}

.result-single {
  padding-top:40px;
  display: none;
  position: relative;
  top:0;
}

.avatar {
  max-width:100px;
  float: left;
  margin-right:15px;
  margin-bottom:10px;
}

.navbar-brand img {
  margin-top:-15px;
}