.form-control-full {
	width: 100% !important;
}

.btn-right {
	float: right;
	cursor: pointer;
	border: solid 1px #ededed;
	border-radius: 2px;
}

.btn-right:hover {
	border-color: #c3c3c3;
}

.up {
	bottom: 100% !important;
	top: auto !important;
}