body {
	font-family: "Roboto Slab";
}

.small .btn {
	font-size: 0.8em;
}

.form-control-full {
	width: 100% !important;
}

.clickable {
	cursor: pointer;
	pointer-events: inherit !important;
}

.sortable .fa-sort-asc {
	position: absolute;
	margin-top: 7px;
	margin-left: 4px;
}

.sortable .fa-sort-desc {
	position: relative;
	margin-top: -8px;
}

.label-list {
	margin-top: 4px;
}

.label-list div {
	margin-right: 4px;
	display: inline-block;
	float: none;
}

.dropdown-btn-right {
	float: right;
}

.dropdown-btn-right > a {
	cursor: pointer;
	border: solid 1px #ededed;
	color: #000;
	border-radius: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 8px;
	padding-right: 6px;
	margin-left: 3px;
	margin-top: 0;
	margin-bottom: 0;
}

.btn-right {
	float: right;
	cursor: pointer;
	border: solid 1px #ededed;
	border-radius: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 8px;
	padding-right: 6px;
	margin-left: 3px;
	margin-top: 0;
	margin-bottom: 0;
}

.btn-right:hover {
	border-color: #c3c3c3;
}

.btn-left {
	cursor: pointer;
	border: solid 1px #ededed;
	border-radius: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 8px;
	padding-right: 6px;
	margin-left: 3px;
	margin-top: 0;
	margin-bottom: 0;
}

.btn-left:hover {
	border-color: #c3c3c3;
}

.btn-label-right {
	cursor: pointer;
	border: solid 1px #ededed;
	border-radius: 2px;
	margin-left: 4px;
}

.btn-label-right:hover {
	border-color: #c3c3c3;
}

.up {
	bottom: 100% !important;
	top: auto !important;
}

.headline h1 {
	margin: 0;
}

.headline p {
	font-size: 0.8em;
}

.navbar-brand {
	font-size: 30px;
	font-family: "Roboto Slab";
}

.jumbotron {
	font-size: 50px;
	font-family: "Roboto Slab";
	text-align: center;
}

.navbar-img {
	margin-top: 6px;
	margin-right: 6px;
	height: 40px;
	float: left;
}

.loading {
	text-align: center;
}

.missinginput {
	border: 1px solid red;
}

.field-headline {
	font-size: 1.1em;
	font-weight: bold;
}

.col-action {
	width: 120px;
}

.col-action-large {
	width: 150px;
}

.twitter-typeahead {
	width: 100%;
}

.start h4 a {
	color: #000;
}

/* typeahead */

span.twitter-typeahead .tt-dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	font-size: 14px;
	text-align: left;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
}

span.twitter-typeahead .tt-suggestion > p {
	display: block;
	padding: 6px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.42857143;
	color: #333333;
	white-space: nowrap;
}

span.twitter-typeahead .tt-suggestion > p:hover,
span.twitter-typeahead .tt-suggestion > p:focus {
	color: #ffffff;
	text-decoration: none;
	outline: 0;
	background-color: #428bca;
}

span.twitter-typeahead .tt-suggestion.tt-cursor {
	color: #ffffff;
	background-color: #428bca;
}

span.twitter-typeahead {
	width: 100%;
}

.input-group span.twitter-typeahead {
	display: block !important;
}

.input-group span.twitter-typeahead .tt-dropdown-menu {
	top: 32px !important;
}

.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
	top: 44px !important;
}

.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
	top: 28px !important;
}
