<!DOCTYPE html>
<html lang="de" ng-app="Station">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Lobbyradarstation</title>
	<link rel="stylesheet" href="assets/bower_components/fontawesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/index.css">
	<script src="assets/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="assets/bower_components/angular/angular.min.js"></script>
	<script src="assets/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="assets/bower_components/angular-resource/angular-resource.min.js"></script>
	<script src="assets/bower_components/ng-table/ng-table.min.js"></script>
	<script src="assets/js/station.js"></script>
</head>
<body ng-controller="AppCtrl">

<nav class="navbar navbar-default navbar-static-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Navigation anzeigen</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href ui-sref="start">Lobbyradarstation</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="active" ui-sref-active="active"><a href ui-sref="start">Start</a></li>
				<li ui-sref-active="active"><a href ui-sref="persons">Personen</a></li>
				<li ui-sref-active="active"><a href ui-sref="organisations">Organisationen</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="container">
	<div ui-view></div>

</div>


<script type="text/ng-template" id="partials/start.html">

	<div class="jumbotron">
		<h1>Lobbyradarstation</h1>
	</div>

</script>

<script type="text/ng-template" id="partials/persons.html">

	<h1>Liste von Personen</h1>

	<div class="row">
		<div class="col-md-3"><p><strong>Page:</strong> {{tableParams.page()}}</p></div>
		<div class="col-md-3"><p><strong>Count per page:</strong> {{tableParams.count()}}</p></div>
		<div class="col-md-3"><p><strong>Total:</strong> {{tableParams.total()}}</p></div>
		<div class="col-md-3"><p><strong>Sorting:</strong> {{tableParams.sorting()|json}}</p></div>
	</div>

	<table ng-table="tableParams" template-pagination="custom/pager" show-filter="true" class="table table-striped">
		<tbody>
		<tr ng-repeat="p in $data">
			<td data-title="'Name'" filter="{ 'name': 'text' }" sortable="'name'" ng-bind="p.name"></td>
			<td><span ui-sref='edit({id: p._id})'><i class="fa fa-edit"></i></span></td>
		</tr>
		</tbody>
	</table>

</script>

<script type="text/ng-template" id="partials/organisations.html">

	<h1>Liste von Organisationen</h1>

	<div class="row">
		<div class="col-md-3"><p><strong>Page:</strong> {{tableParams.page()}}</p></div>
		<div class="col-md-3"><p><strong>Count per page:</strong> {{tableParams.count()}}</p></div>
		<div class="col-md-3"><p><strong>Total:</strong> {{tableParams.total()}}</p></div>
		<div class="col-md-3"><p><strong>Sorting:</strong> {{tableParams.sorting()|json}}</p></div>
	</div>

	<table ng-table="tableParams" template-pagination="custom/pager" show-filter="true" class="table table-striped">
		<tbody>
		<tr ng-repeat="p in $data">
			<td data-title="'Name'" filter="{ 'name': 'text' }" sortable="'name'" ng-bind="p.name"></td>
			<td><span ui-sref='edit({id: p._id})'><i class="fa fa-edit"></i></span></td>
		</tr>
		</tbody>
	</table>

</script>

<script type="text/ng-template" id="partials/edit.html">

	<h1>Bearbeiten</h1>

	<p>ID:</p>
	<p ng-bind="item._id"></p>

	<form role="form">

		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" class="form-control" id="name" placeholder="Enter name" ng-value="item.name">
		</div>

		<div class="form-group">
			<label>Aliases</label>

			<div class="has-feedback">
				<input type="text" class="form-control" placeholder="Aliases" ng-model="edit.alias" key-bind="{ enter: 'selectAlias()'}">
				<span ng-show="canSelectAlias()" class="glyphicon glyphicon-plus-sign form-control-feedback clickable" ng-click="selectAlias()"></span>
			</div>
			<div class="list-sel-ctn">
				<div ng-repeat="o in item.aliases" class="list-sel-item"><span ng-bind="o"></span><i class="glyphicon glyphicon-remove" ng-click="removeAlias(o)"></i></div>
			</div>
		</div>

		<div class="form-group">
			<label>Tags</label>

			<div class="has-feedback">
				<input type="text" class="form-control" placeholder="Tags" ng-model="edit.tag" key-bind="{ enter: 'selectTag()'}">
				<span ng-show="canSelectTag()" class="glyphicon glyphicon-plus-sign form-control-feedback clickable" ng-click="selectTag()"></span>
			</div>
			<div class="list-sel-ctn">
				<div ng-repeat="o in item.tags" class="list-sel-item"><span ng-bind="o"></span><i class="glyphicon glyphicon-remove" ng-click="removeTag(o)"></i></div>
			</div>
		</div>

		<div class="form-group">
			<label>Sources</label>

			<div class="has-feedback">
				<input type="text" class="form-control" placeholder="Source" ng-model="edit.src" key-bind="{ enter: 'selectSource()'}">
				<span ng-show="canSelectSource()" class="glyphicon glyphicon-plus-sign form-control-feedback clickable" ng-click="selectSource()"></span>
			</div>
			<div class="list-sel-ctn">
				<div ng-repeat="o in item.sources" class="list-sel-item"><a ng-href="{{o.url}}" ng-bind="o.url"></a> (<span ng-bind="o.updated"></span>)<i class="glyphicon glyphicon-remove" ng-click="removeTag(o)"></i></div>
			</div>
		</div>

	</form>

</script>

<script type="text/ng-template" id="custom/pager">
	<ul class="pager ng-cloak">
		<li ng-repeat="page in pages"
			ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
			ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
			<a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
		</li>
		<li>
			<div class="btn-group">
				<button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
				<button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
				<button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
				<button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
			</div>
		</li>
	</ul>
</script>

</body>
</html>