<!DOCTYPE html>
<html lang="de" ng-app="Station">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Lobbyradarstation</title>
	<link rel="stylesheet" href="assets/bower_components/fontawesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/index.css">
	<script src="assets/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="assets/bower_components/angular/angular.min.js"></script>
	<script src="assets/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="assets/bower_components/angular-resource/angular-resource.min.js"></script>
	<script src="assets/bower_components/ng-table/ng-table.min.js"></script>
	<script src="assets/js/station.js"></script>
</head>
<body ng-controller="AppCtrl">

<nav class="navbar navbar-default navbar-static-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Navigation anzeigen</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href ui-sref="start">Lobbyradarstation</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="active" ui-sref-active="active"><a href ui-sref="start">Start</a></li>
				<li ui-sref-active="active"><a href ui-sref="persons">Personen</a></li>
				<li ui-sref-active="active"><a href ui-sref="organisations">Organisationen</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="container">
	<div ui-view></div>

	<br/>
</div>

<script type="text/ng-template" id="partials/start.html">

	<div class="jumbotron">
		<h1>Lobbyradarstation</h1>
	</div>

</script>

<script type="text/ng-template" id="partials/persons.html">

	<h1>Liste von Personen</h1>

	<div class="row">
		<div class="col-md-3"><p><strong>Page:</strong> {{tableParams.page()}}</p></div>
		<div class="col-md-3"><p><strong>Count per page:</strong> {{tableParams.count()}}</p></div>
		<div class="col-md-3"><p><strong>Total:</strong> {{tableParams.total()}}</p></div>
		<div class="col-md-3"><p><strong>Sorting:</strong> {{tableParams.sorting()|json}}</p></div>
	</div>

	<table ng-table="tableParams" template-pagination="custom/pager" show-filter="true" class="table table-striped">
		<tbody>
		<tr ng-repeat="p in $data">
			<td data-title="'Name'" filter="{ 'name': 'text' }" sortable="'name'" ng-bind="p.name"></td>
			<td><span ui-sref='person({id: p._id})'><i class="fa fa-edit"></i></span></td>
		</tr>
		</tbody>
	</table>

</script>

<script type="text/ng-template" id="partials/organisations.html">

	<h1>Liste von Organisationen</h1>

	<div class="row">
		<div class="col-md-3"><p><strong>Page:</strong> {{tableParams.page()}}</p></div>
		<div class="col-md-3"><p><strong>Count per page:</strong> {{tableParams.count()}}</p></div>
		<div class="col-md-3"><p><strong>Total:</strong> {{tableParams.total()}}</p></div>
		<div class="col-md-3"><p><strong>Sorting:</strong> {{tableParams.sorting()|json}}</p></div>
	</div>

	<table ng-table="tableParams" template-pagination="custom/pager" show-filter="true" class="table table-striped">
		<tbody>
		<tr ng-repeat="p in $data">
			<td data-title="'Name'" filter="{ 'name': 'text' }" sortable="'name'" ng-bind="p.name"></td>
			<td><span ui-sref='organisation({id: p._id})'><i class="fa fa-edit"></i></span></td>
		</tr>
		</tbody>
	</table>

</script>

<script type="text/ng-template" id="partials/editor.html">

	<h1><span ng-bind="modename"></span> bearbeiten</h1>

	<p>ID: <span ng-bind="item._id"></span></p>

	<form role="form">

		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" class="form-control" id="name" placeholder="Enter name" ng-model="item.name">
		</div>

		<hr/>

		<div class="form-group">
			<label>Aliases</label>

			<div class="has-feedback">
				<input type="text" class="form-control" placeholder="Aliases" ng-model="edit.alias" ng-enter="addEntry('aliases', edit.alias)">
				<span ng-show="canAddEntry('aliases', edit.alias)" class="glyphicon glyphicon-plus-sign form-control-feedback clickable" ng-click="addEntry('aliases', edit.alias)"></span>
			</div>
			<div class="list-sel-ctn">
				<div ng-repeat="o in item.aliases" class="list-sel-item"><span ng-bind="o"></span>
					<i class="glyphicon glyphicon-remove btn-remove-data" ng-click="removeEntry('aliases', o)"></i></div>
			</div>
		</div>

		<hr/>

		<div class="form-group">
			<label>Tags</label>

			<div class="has-feedback">
				<input type="text" class="form-control" placeholder="Tags" ng-model="edit.tag" ng-enter="addEntry('tags', edit.tag)">
				<span ng-show="canAddEntry('tags', edit.alias)" class="glyphicon glyphicon-plus-sign form-control-feedback clickable" ng-click="addEntry('tags', edit.tag)"></span>
			</div>
			<div class="list-sel-ctn">
				<div ng-repeat="o in item.tags" class="list-sel-item"><span ng-bind="o"></span>
					<i class="glyphicon glyphicon-remove btn-remove-data" ng-click="removeEntry('tags', o)"></i></div>
			</div>
		</div>

		<hr/>

		<div class="form-group">
			<label>Quellen</label>

			<div class="has-feedback">
				<input type="url" class="form-control" placeholder="Source" ng-model="edit.src_link" ng-enter="addSource(edit.src_link, edit.src_remark)">
			</div>
			<div class="has-feedback">
				<input type="text" class="form-control" placeholder="Comment" ng-model="edit.src_remark" ng-enter="addSource(edit.src_link, edit.src_remark)">
			</div>
			<div class="list-sel-ctn">
				<div ng-repeat="o in item.sources" class="list-sel-item">
					<a ng-href="{{o.url}}" ng-bind="o.url"></a>
					<span ng-bind="o.remark"></span>
					<i class="glyphicon glyphicon-remove btn-remove-data" ng-click="removeEntry('sources', o)"></i>
				</div>
			</div>
		</div>

		<hr/>

	</form>

	<div ng-repeat="d in item.data" ng-switch="d.key">
		<div ng-switch-when="titles">
			<form class="form-inline">
				<div class="form-group">
					<label>Beschreibung</label>
					<input type="text" class="form-control" placeholder="Beschreibung" ng-model="d.desc">
				</div>
				<div class="form-group">
					<label>Titel</label>
					<input type="text" class="form-control" placeholder="Titel" ng-model="d.value">
				</div>
				<i class="glyphicon glyphicon-remove btn-remove-data" ng-click="removeData(d)"></i>
			</form>
		</div>

		<div ng-switch-when="address">
			<form class="form-inline">
				<div class="form-group">
					<label>Beschreibung</label>
					<input type="text" class="form-control" placeholder="Beschreibung" ng-model="d.desc">
				</div>
				<div class="form-group">
					<label>Name</label>
					<input type="text" class="form-control" placeholder="Name" ng-model="d.value.name">
				</div>
				<div class="form-group">
					<label>Stadt</label>
					<input type="text" class="form-control" placeholder="Stadt" ng-model="d.value.city">
				</div>
				<div class="form-group">
					<label>Adresse</label>
					<input type="text" class="form-control" placeholder="Adresse" ng-model="d.value.addr">
				</div>
				<div class="form-group">
					<label>Land</label>
					<input type="text" class="form-control" placeholder="Land" ng-model="d.value.country">
				</div>
				<div class="form-group">
					<label>Postleitzahl</label>
					<input type="text" class="form-control" placeholder="Postleitzahl" ng-model="d.value.postcode">
				</div>
				<div class="form-group">
					<label>Telefon</label>
					<input type="text" class="form-control" placeholder="Telefon" ng-model="d.value.tel">
				</div>
				<div class="form-group">
					<label>Fax</label>
					<input type="text" class="form-control" placeholder="Fax" ng-model="d.value.fax">
				</div>
				<div class="form-group">
					<label>E-Mail</label>
					<input type="text" class="form-control" placeholder="E-Mail" ng-model="d.value.email">
				</div>
				<div class="form-group">
					<label>www</label>
					<input type="text" class="form-control" placeholder="www" ng-model="d.value.www">
				</div>


				<i class="glyphicon glyphicon-remove btn-remove-data" ng-click="removeData(d)"></i>
			</form>
		</div>

		<div ng-switch-when="members">
			<form class="form-inline">
				<div class="form-group">
					<label>Beschreibung</label>
					<input type="text" class="form-control" placeholder="Beschreibung" ng-model="d.desc">
				</div>
				<div class="form-group">
					<label>Anzahl der Mitglieder</label>
					<input type="text" class="form-control" placeholder="Anzahl der Mitglieder" ng-model="d.value">
				</div>
				<i class="glyphicon glyphicon-remove btn-remove-data" ng-click="removeData(d)"></i>
			</form>
		</div>


		<div ng-switch-when="organisations">
			<form class="form-inline">
				<div class="form-group">
					<label>Beschreibung</label>
					<input type="text" class="form-control" placeholder="Beschreibung" ng-model="d.desc">
				</div>
				<div class="form-group">
					<label>Anzahl der Mitgliedsorganisationen</label>
					<input type="text" class="form-control" placeholder="Anzahl der Mitgliedsorganisationen" ng-model="d.value">
				</div>
				<i class="glyphicon glyphicon-remove btn-remove-data" ng-click="removeData(d)"></i>
			</form>
		</div>

		<div ng-switch-when="description">
			<form class="form-inline">
				<div class="form-group">
					<label>Beschreibung der Beschreibung</label>
					<input type="text" class="form-control" placeholder="Beschreibung der Beschreibung" ng-model="d.desc">
				</div>
				<div class="form-group">
					<label>Beschreibung</label>
					<input type="text" class="form-control" placeholder="Beschreibung" ng-model="d.value">
				</div>
				<i class="glyphicon glyphicon-remove btn-remove-data" ng-click="removeData(d)"></i>
			</form>
		</div>

		<hr/>

	</div>

	<div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			Datenfeld hinzufügen <span class="caret"></span>
		</button>
			<ul class="dropdown-menu up" role="menu">
				<li><a href ng-click="addData('titles')">Titel</a></li>
				<li><a href ng-click="addData('address')">Adresse</a></li>
				<li><a href ng-click="addData('description')">Beschreibung</a></li>
				<li ng-if="!isPerson"><a href ng-click="addData('members')">Anzahl der Mitglieder</a></li>
				<li ng-if="!isPerson"><a href ng-click="addData('organisations')">Anzahl der Mitgliedsorganisationen</a></li>
			</ul>
	</div>

	<!--<hr/>{{item.data}}<hr/>{{item}}-->

</script>

<script type="text/ng-template" id="custom/pager">
	<ul class="pager ng-cloak">
		<li ng-repeat="page in pages"
			ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
			ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
			<a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
		</li>
		<li>
			<div class="btn-group">
				<button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
				<button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
				<button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
				<button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
			</div>
		</li>
	</ul>
</script>

</body>
</html>